%a{href: new_transaction_path}
  %button.btn.btn-primary.btn-lg.pull-right{"data-target" => "#myModal", "data-toggle" => "modal"}
    New transaction
%h1 Listing transactions
%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Vendor
      %th Customer
      %th Amount
      %th Action

  - @transactions.each do |transaction|
    %tbody
    %tr
      %td=transaction[:vendor]
      %td=transaction[:customer]
      %td
        =transaction[:amount]
        $
      %td
        = link_to ' ', transaction,  class: "glyphicon glyphicon-eye-open", title: "show"
        = link_to ' ', edit_transaction_path(transaction), class: "glyphicon glyphicon-pencil", title: "edit"
        = link_to ' ',  transaction, class: "glyphicon glyphicon-trash", title: "delete", :method => :delete, :data => { :confirm => 'Are you sure?' }
        = link_to ' ', "#", class: "glyphicon glyphicon-comment", title: "commentary"
%br



/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title New Transaction
      .modal-body
        = render 'form'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
        -#%button.btn.btn-primary{type: "button"} Save changes
