-if notice
  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
    %p#notice= notice

.col-md-8
  %h2 Show transaction
  %table.table.table-bordered
    %tbody
      %tr
        %td Debit:
        %td
          = @transaction.debit_account.name
      %tr
        %td Credit:
        %td
          = @transaction.credit_account.name
      %tr
        %td Amount
        %td
          = @transaction.amount

  = link_to ' Edit', edit_transaction_path(@transaction), class: "btn btn-warning glyphicon glyphicon-pencil pull-right"

  = link_to ' Back', transactions_path, class: "btn btn-info glyphicon glyphicon-arrow-left"

