<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or "Page Title" %></title>

  <%= stylesheet_link_tag    "/bootstrap/bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "/bootstrap/bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style><%= yield :stylesheets %></style>
</head>
<body>

<%= render partial: 'layouts/header' %>

<div class="container ">
  <div class="row col-md-4 col-md-offset-3">
    <%= render partial: 'layouts/error_messages' %>
    <%= yield %>
  </div>
</div> <!-- /container -->


<%= javascript_include_tag "/bootstrap/bootstrap", "data-turbolinks-track" => true %>
<%= javascript_include_tag "/bootstrap/bootstrap.min", "data-turbolinks-track" => true %>
</body>
</html>